<%! from django.core.urlresolvers import reverse %>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="pagetitle">诚信守则公约</%block>

<section class="static-container honor-code">
  <h1 id="honor">BistuX诚信守则公约</h1>
  <hr class="horizontal-divider">

  <div class="inner-wrapper">
	<h2>
      <strong>合作原则</strong>
	</h2>
	<p align="LEFT">
      通过在BistuX上选修课程，您已经加入了一个特殊的全球学生社区。BistuX的目标是通过应用互联网技术，为有动力、有能力参与高校课程学习的任何人提供学习体验的机会。您已成为帮助BistuX实现这一目标的社区成员之一。
	</p>
	<p align="LEFT">
      BistuX依赖于您主动、诚实地学习相关资料。为参与BistuX，您必须同意以下诚信守则以及对某些课程适用的任何特定附加条款。本诚信守则以及任何附加条款将发布在每门课程的网站上。
	</p>
	<h2>
      <strong>BistuX诚信守则公约</strong>
	</h2>
	<p align="LEFT">
      参加BistuX的课程，以下内容将视为是您的承诺：
	</p>
	<ul>
      <li>
        <p align="LEFT">
          仅凭我个人努力完成所有期中和期末考试，不会提交任何其他人的作业/成果；
        </p>
      </li>
      <li>
        <p align="LEFT">
          仅持有一个用户帐号并且不会让其他人使用我的用户帐号和/或密码；
        </p>
      </li>
      <li>
        <p align="LEFT">
          不从事任何可能不诚实地提高我的成绩，或提高或损害他人成绩的行为；
        </p>
      </li>
      <li>
        <p align="LEFT">
          发布用于评估学生表现的题目的答案。
        </p>
      </li>
	</ul>
	<p align="LEFT">
      除非BistuX课程的指导老师另有说明，BistuX鼓励学生：
	</p>
	<ul>
      <li>
        <p align="LEFT">
          同他人合作完成讲座视频、练习、作业和实验；
        </p>
      </li>
      <li>
        <p align="LEFT">
          在课程中同其他人讨论一般概念和资料；
        </p>
      </li>
      <li>
        <p align="LEFT">
          将想法和书面成果展示给BistuX同学或其他人，以获得他们的意见和评论。
        </p>
      </li>
	</ul>
    <h2>
      <strong>诚信守则的修改</strong>
    </h2>
	<p align="LEFT">
      请注意，我们可能不时审查和修改本诚信守则。本诚信守则的修改在本页面上发布后立即生效，并附更新后的生效日期。在本网站进行任何修改之后，您访问本网站即视为您已同意修改后的诚信守则和本网站的其他全部修改。请定期访问本网页以了解本诚信守则的最新版本。
	</p>
	<p align="LEFT">
      <strong>生效日期</strong>
      ：2014年3月5日
	</p>
  </div>
  
  <!--h1 id="copyright">许可信息</h1>
	  <hr class="horizontal-divider">

	  <div class="inner-wrapper">
		<h2>视频和练习</h2>
		<p>版权所有 &copy; 2012 MIT。保留所有的权利。为了实现MIT让全世界所有人都能够享受教育的理念，MIT计划将<i>MITx</i>课程内容在公开课许可框架下公开。</p>

		<h2>课本</h2>
		<p>版权所有t &copy; 2005 Elsevier Inc. 保留所有权利，请得到批准之后再使用。虽然我们的目标是建立尽可能多的免费和公开的课程，很抱歉现阶段我们还没有这样的能力。</p>

		<h2>学生产生内容</h2>
		<p>版权所有 &copy; 2012. 保留所有的权利。出于隐私考虑，我们不知道哪些内容会在公开授权下开放。</p>

		<p>MIT和<i>MITx</i>是麻省理工学院的注册商标，未经许可请勿使用。</p>
  </div-->
</section>
