<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>在线帮助</title></%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#" class="help">Help</a>
  </nav>

  <section class="vision">
    <section class="message left" id="help">
      <div class="photo">
        <img src="${static.url('themes/ioc-bistux-theme/images/bistux-display.jpg')}" alt="bistu-display" />
          
      </div>
      <article>
        <h2>注册课程遇到困难</h2> 
        <p><strong>如果你在注册一门课程时遇到困难，请尝试:</strong></p>
        <p>
           - <a href="/logout">注销</a> 你的账户。<br />
           - 切换到你要注册的课程的 "帮助" 页面。<br />
           - 点击 "注册" 按钮, 你应该就能注册你的课程。当然，首先你会被要求登录验证。
        </p>
        <h2>常规技术支持</h2>
        <p><strong>电子邮件:</strong><br />
        <a href="mailto:stack@iflab.org">stack@iflab.org</a></p>
      </article>
    </section>
  </section>

</section>
